.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(225, 222, 219);
  padding: 10px;
}
.grid-item {
  background-color: rgb(225, 222, 219);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}